table, th, td {
    border: 1px solid black;
    border-radius: 10px;
    border-spacing: 12px;
  }

.cal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
    background-color: skyblue;
    transform: translate(-50%, -50%);
}

#result{
    width: 100%;
    border-radius: 5px;
}

input{
    height: 60px;
    width: 90px;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    background-color: pink;
}

input:hover {
    background-color: yellow;
}

.clear{
    background-color: greenyellow;
    color: white;
}

